DB_URL=
PORT = 
encrypt_decrypt_key = 
FRONTEND_URL=

INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_REDIRECT_URI=


YOUTUBE_API_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

#shoipfy creds
SHOPIFY_URL=
SHOPIFY_API_KEY=

#wordpress creds
WORDPRESS_URL=

#app schema
APP_SCHEMA=